/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/
@media (max-width: 575px){
    .xs-hidden{
        display: none;
    }
    .xs-block{
        display: block;
    }
    .xs-news-w100{
        width: 100%;
    }
    .xs-box-w100{
        max-width: 100%;
    }
    .footer__list {
        grid-template-columns: 1fr;   
        gap: 1.5em;    
    }
    .footer__item__info>ul{
        gap:5px;
    }
    .footer__item__info>ul>li {
        font-size: 1.5em;
    }
    .md__footer__child{
        border: 1px solid var(--color-border);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .md__footer__child >h3{
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 1em;
       margin: 0;
    }
    .md__footer__child >ul{
        padding-left: 1em;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: var(--transition);
    }
    .md__footer__child.open >ul{
        visibility: visible;
        opacity: 1;
        height: 100%;
        margin-bottom: 1em;
    }
    .md__footer__child.open>h3>i::before {
        content: "\f1af";
    }

    .footer__item__form > ul {
        font-size: 1.4rem;
    }

    .footer__item__calc >a{
        font-size: 1.6em;
    }

    .footer__form__advisory{
        padding:1em;
        font-size: 1.3rem;
    }
    .footer__form__advisory--grid {
        grid-template-columns: 1fr;
    }

    .footer__form__advisory .form-group {
        grid-template-columns: 1fr 7fr;
    }
    .news__col__3{
        gap: 1em;
    }
    .news__col__3 .news__item {
        width: 100%;
    }
    .news__col__3 .news__item{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1em;
    }
    .news__thumb {
        aspect-ratio: auto;
        height: 90px;
    }

    .news__info {        
        gap: 1em;
        justify-content: center;
    }
    .news__item.news__item--list{
        flex-direction:column;
    }
    .news__item.news__item--list .news__thumb {
        height: 150px;
    }
    .news__item.news__item--list .news__info{
        padding-left:0;
    }
    .news__item.news__item--list .news__desc{
        margin-bottom: 0px;
    }

    /* list news item */
    .news__item.mb__news__item--list{
        display: flex!important;
        flex-direction: column;
    }
    .news__item.mb__news__item--list .news__thumb {
        height: 150px;
    }

    /* news__item-list mobile */
    .mews__item--list--m{
        grid-template-columns: auto;
        gap: 1.5rem;
    }
    .mews__item--list--m .news__info{
        font-size: 1.25rem;
        gap: 0.5em;
    }

    .mews__item--list--m .news__info .news__cate{
        font-size: 1em;
    }

    .services__wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
    }

    .mb__news__item--grid{
        display: grid;
        grid-template-columns: minmax(80px, 1fr) minmax(150px, 2fr);
        gap: 1em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid var(--color-border);
        width: 100%;
    }

    .service__rgt{
        display: flex;
        flex-wrap: wrap;
    }

    .news__item__list__info > h3 {
        font-size: 1.5em;
    }

    .news__item__list:nth-of-type(3){
        border-bottom: 1px solid var(--color-border);
    }  

    .news-container{
        flex-direction: column;
    }

    .news__item__xs{
        display: flex!important;
        flex-direction: column;
    }

    .news-container .news__col__3{
        gap: 2rem;
    }

    .news__item__xs .news__thumb{
        height: 200px;
    }

    .news__item__xs--list .news__thumb {
        height: 65px;
    }

    .news-rgt300{
        margin: 0 auto;     
    }

    .news__thumb__xs--h{
        height: 25em;
    }

    .multimedia-wrapper{
        flex-direction: column;
    }
    .multimedia-links {
        font-size: 0.8rem;
    }

    .tab-article-list{
        display: flex;
        flex-direction: column;
    }
    .article-left{
        display: flex;
        flex-direction: column;
    }
    .articles-list{
        flex-direction: row;
    }
    .article-item--grid--right{
        grid-template-columns: 1fr 2fr;
    }
    .article-item--grid--right .article-item__thumb{
        order: 1;
    }
    .article-item--grid--right .article-item__info{
        order: 2;
    }
    .article-item__info>h3 {
        font-size: 1.8em;
    }
    .box-videos>h2 {
        font-size: 3em;
        margin-bottom: 1em;
    }

}
@media (min-width: 576px) and (max-width: 768px){
    .order-md-1{
        order: 1;
    }
    .order-md-2{
        order: 2;
    }
    .order-md-3{
        order: 3;
    }
    .order-md-4{
        order: 4;
    }
    .footer__list{
        grid-template-columns: 2fr 1fr;
    }

    .md__footer__child{       
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__grid__aside{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .box-aside,.section__grid__aside .ads_banner{
        width: 100%;
        max-width: 100%;
    }

    .news__item__list__thumb{
        height: 60px;
    }

    .news__item__sm--list{
        width: 100%!important;
        display: grid;
        grid-template-columns: minmax(80px, 1fr) minmax(150px, 2fr); 
        gap: 1rem;
        padding-bottom: 1rem;
    }
    .news-videos__md{
        flex-direction: column!important;
        flex-wrap: unset;
    }

    .video-main__md{
        display: flex;
        flex-direction: column;
    }
    .video-list__md{
        max-width: 100%;
    }
    .tab-article-list{
        display: flex;
        flex-direction: column;
    }
    .article-right{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: .5em;
    }
    .article-item--grid--right{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 3px;
    }
    .article-item--grid--right .article-item__thumb{
        order: 1;
    }
    .article-item--grid--right .article-item__info{
        order: 2;
    }
    .article-item--grid--right .article-item__info>h3{
        -webkit-line-clamp: 4;
        font-size: 1.4em;
    }
    .article-left{
        padding-right: 0;
        border-right:none;
    }
    .video__item__img >img{
        border-radius: 1em;
    }
}

@media (max-width: 768px){ 
    html{
        font-size: 50%;
        overflow-x: hidden;
    }
    .menus__bar{
        display: block;
    }
    .mb-hidden{
        display: none;
    }
    .container{
        padding: 0px 1em;
    }
    .nabar__price a {
        padding: 0px 1em;
    }

    .nabar__price a::before {    
        top: 1px;
        left: 1px;      
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }
    .header-wrapper {       
        padding: 1em 0px;
    }
    .logo{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }   
    .search__title {
        font-size: 1.3em;
    }
    .search__keyword__blank{
        display: none;
    }
    .search__list__keyword{
        gap: 1em;
    }
    .search__list__keyword a{
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .footer__bottom{
        flex-direction: column;
        gap: 1em;
    }
    .footer__bottom>p{
        order:2;
    }
    .footer__bottom>ul{
        order:1;
    }
    
    .section__grid--aside{
        grid-template-columns: 1fr;
    }

    .news__item__list{
        align-items: center;
    }
    .news__col__2{
        display: flex;
        flex-direction: column;
    }
    .news-videos__md{
        flex-direction: column!important;
        flex-wrap: unset;
    }
    .video-list__md{
        flex-direction: row;
        border-top: 1px dashed rgba(var(--black-rgb), .3);
        padding-top: 2em;
        max-width: 100%;
    }

    .video-list__md >*{
        flex: 1;
    }

    .video-main__info__md{
        display: none;
    }

    .video__item + .video__item {
        padding-top: 0;
        border-top: none;
    }
    .qna-wrapper--grid{
        grid-template-columns: 1fr 1fr;
    }
     
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    html {
        font-size: 40%;
    }
    .category_menu span{
        display: none;
    }
    .category_menu{
        padding:0px;
        background-color: none;
        gap:0px;
    }
    .btn-all-menu{
        padding: 0px;
        width: 1.5em;
        height: 1.5em;
    }
    .btn-all-menu > i{
        font-size: 1em;
    }
    .nabar__price>a{
        padding: 0px 1.5em;
    }
    .menus__widget__grid{
        gap: 1em 0.5em;
    }
    .menus__widget__list >li>a {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
    
    .video-main__md{
        flex: auto!important;
    }
    .video-list__md{
        flex-direction: row;
        max-width: 100%;
    }
    .video__item + .video__item{
        padding-top: 0;
        border: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    html {
        font-size: 50%;
    }
    .category_menu span{
        display: none;
    }
    .category_menu{
        padding:0px;
        background-color: none;
        gap:0px;
    }
    .nabar__price>a{
        padding: 0px 1.5em;
    }
    .nav__menus > li > a, .nav__menus > li > a > i {
        font-size: 1.3em;
    }
    .btn-all-menu{
        padding: 0px;
        width: 1.5em;
        height: 1.5em;
    }
    .btn-all-menu > i{
        font-size: 1em;
    }
    .menus__widget__list >li>a {
        font-size: 1.05em;
    }
    .menus__widget.menus__widget--right {
        padding: 1em 1em;
    }

    .video__item__lg--grid{
        display: grid!important;
        grid-template-columns: minmax(80px, 1fr) minmax(150px, 2fr);
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .category_wrapper{
        display: none;
    }
}