:root {
    --light-yellow: 254, 235, 157;
    --rgb-black: 0,0,0;
}
.container90{
    width: 90%;
    margin: auto;
}
.header-top{
    font-size: 0.652vw;
    background-color: rgb(var(--light-yellow)); 
    padding: 0.8em 0;
}


/* --- header top -- */
.header-top-wrapper{
    display: flex;   
    height: 4.2em;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 4.2em;
}
.logo-img{
    height: 100%;
}

.header-search{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4.2em;
}
.header-support {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.header-support__icon {
    height: 4.2em;
    width: 4.2em;
}
.header-support__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-support__text span {
    font-size: 1.6em;
    font-weight: 500;
}
.header-support__text strong {
    font-size: 2em;
    font-weight: 600;
}

